<% layout('./layouts/boilerplate.ejs') %>

<div class="container py-5">
    <div class="row align-items-center bg-white shadow rounded p-4 mb-5">
        <div class="col-md-4 text-center mb-3 mb-md-0">
            <img src="<%= actor.IMAGE %>" alt="<%= actor.NAME %>" class="img-fluid rounded">
        </div>
        <div class="col-md-8">
            <h1 class="display-5 fw-bold"><%= actor.NAME %></h1>
            <p class="lead"><%= actor.DESCRIPTION %></p>
        </div>
    </div>

    <h2 class="mb-4">Movies</h2>
    <div class="row g-4">
        <% movies.forEach(movie => { %>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card h-100 shadow-sm" style="cursor: pointer;" onclick='window.location.href="/movies/<%=movie.MOVIE_ID%>" '>
                    <img src="<%= movie.POSTER %>" class="card-img-top" alt="<%= movie.MOVIE_NAME %>" style="object-fit: cover;object-position: top;">
                    <div class="card-body text-center">
                        <h5 class="card-title"><%= movie.MOVIE_NAME %></h5>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>
